#meme-image-container {
  display: flex;
  position: relative;
  width: 200px;
  height: 200px;
  background-color: white;
  border: black solid 1px;
}

#meme-image-container img {
  display: flex;
  width: 200px;
  height: 200px;
}


#meme-image {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 0;
}

#meme-text {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 30px;
  text-shadow: black 5px 5px 5px;
  top: 90px;
}

#fire {
  background-color: red;
}

#water {
  background-color: blue;
}
#earth {
  background-color:green;
}

#images-container {
  display: flex;
  margin: 10px 0;
  width: 400px;
  height: 100px;
}

#images-container img {
  display: flex;
  width: 200px;
  height: 200px;
  margin: 5px;
}

